# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv

# Database
*.db
*.sqlite
*.sqlite3

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp

# Node & Frontend
node_modules/
dist/
.DS_Store

